<header class="posts">
	<div class="posts-header">
	  <h1 class="brand-heading">Welcome!</h1>
	</div>
  <div class="container-posts">
		<h1 class="brand-heading">Recent Posts</h1>
			<% if @posts.any? %>
        <% @posts.each do |post| %>
  			<div>
  				<h3 class="posts-heading"><a href="/posts/<%= post.id %>" class="posts-title"><%= post.title %></a></h3>
          <p class="posts-user-info">Posted in <span><a href="/posts/category/<%= post.category %>" class="posts-category"><%= post.category %></a></span>
            <input type="hidden" name="category" value="<%= post.category %>" /> by: <%= post.user.email %> on <%= post.created_at %></p>
  			</div>
      <% end %>
		<% end %>
  </div>
</header>
