<header class="posts">
  <div class="posts-header">
    <h1 class="brand-heading">Details for <%= @post.title %></h1>
  </div>
  <div class="container-posts">
   <p><%= @post.description %></p>
   <p><strong><a href="mailto:<%= @post.user.email %>?Subject=Let's Haggle">Email the Hag to make your trade!</a></strong></p>
  </div>
  <div>
    <form method="POST" action="/posts/delete/<%= @post.id %>">
      <input type="hidden" name="postid" value="<%= @post.id %>" />
      <input type="submit" value="Delete Post" class="btn btn-primary active" />
    </form>
  </div>
</header>




